html{
    scroll-behavior: smooth;
}

body{
    font-family : tahoma;
    font-size : 12px;
    color : #333;
    margin:0 auto;
    cursor:default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    text-decoration: none;
}

b{
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    font-size: 50px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    color: white;
    width: 70%;
    cursor:default;
}


.techniques_informatiques td{
    text-align: center;
}

td p{
    text-align: left;
}

#navbar{
    margin : 0 auto;
    width:100%;
    background-color: #2e2b2b;
    position: fixed;
    z-index:1;
}

#navbar #onglets .onglet{
    float:left;
    width : 125px;
    height : 30px;
    line-height : 30px;
    text-align : center;
    margin-right : 5px;
    color : white;
    padding:10px;
}

#navbar #onglets .onglet:hover{
    background-color: #181818;
    cursor: pointer;
    transition: 1s;
}

.clearfix:before,
.clearfix:after {
    content: ""; 
    display: table;
}

.clearfix:after {
    clear: both;
}

.onglet.active{
    background : #181818;
    color : white;
    cursor: default;
}

#contenus img{
    width:100%; 
    margin-bottom:5px;
    height:750px;
}

/* Page Accueil*/

.container_accueil{
    height:750px;
	width:100%;
}

#centeralign{
    position: absolute;
    top:40%;
    left:35%;
    text-align: center;
}

#centeralign h1 {
    letter-spacing: 1pt;
    font-size: 40pt;
    margin-bottom: 15px;
    color:rgb(234, 209, 17);
    text-shadow: 5px 5px 5px black;
}
  
#centeralign p{
    margin: 0;
    font-size: 24pt;
    font-weight: 900;
    width: 80%;
    color:lightblue;
    text-shadow: 5px 5px 5px black;
  }

.container h1{
    text-transform: uppercase;
    text-align: center;
}

/* Page Infos */

.container{
    height:100%;
	width:100%;
	margin:0;
    background: #333;
    padding-top:100px;
    padding-bottom:100px;
    color:white;
}

#contenu{
    background-color:#2b2a2a;
    width:80%;
    margin-left:10%;
    padding: 10px 10px 50px 10px;
    color:white;
}

.presentation{
    width:70%;
    padding-left:15%;
    font-family: system-ui;
    font-size: 18px;
}

.separateur{
    margin: 50px 0 50px 0;
}

.description{
    text-align: center;
    font-family: serif;
    font-size:18px;
}

.tableprogress td{
    width:50%;
}

.progress{
    height:5%;
    background-color: azure;
    color:black; 
    font-weight: bold;
    border-radius: 10px;   
    width:60%;
}

.progress #progress1{
    height:100%;
    background-color:#d72631;
    border-radius: 10px;
    padding-left:0;
    transition: padding-left 2s ease-in-out;
}

.progress #progress2{
    height:100%;
    background-color:#a2d5c6;
    border-radius: 10px;
    padding-left:0;
    transition: padding-left 2s ease-in-out;
}

.progress #progress3{
    height:100%;
    background-color:#077b8a;
    border-radius: 10px;
    padding-left:0;
    transition: padding-left 2s ease-in-out;
}

.progress #progress4{
    height:100%;
    background-color:#5c3c92;
    border-radius: 10px;
    padding-left:0;
    transition: padding-left 2s ease-in-out;
}

.progress #progress5{
    height:100%;
    background-color:#007FA9;
    border-radius: 10px;
    padding-left:0;
    transition: padding-left 2s ease-in-out;
}

/* Page Projets */

.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 4%;
}

.modal_open{
    margin-top:50px;
    width:80%;
    height:250px;
    color:black;
    padding: 10px;
    opacity: 0.7;
    overflow: hidden;
    transition: transform .1s;
    border: solid white 2px;
}

.modal_open:hover{
    -ms-transform: scale(1.1) !important; /* IE 9 */
    -webkit-transform: scale(1.1) !important; /* Safari 3-8 */
    transform: scale(1.1) !important; 
    cursor: pointer;
}

.modal_open img {
    width: 100%;
    aspect-ratio: 1 / 1;
    transition: all .3s ease;
  }
  
.modal_open img:hover {
    transform: scale(1.1);
    transition: .5s;
  }

.modal-txt{
    position:absolute;
    font-weight: bold;
    font-family: "Segoe Print", Times, serif;
    font-size: 20px;
    left:0;
    bottom:0;
}


.modal{
    height:2000px;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    position: fixed;
    top:0%;
    left:0%;
    display:none;
    z-index: 98;
}

.modal-content{
    opacity: 1;
    position: absolute;
    position: fixed;
    background-color: rgb(224, 224, 214);
    top:15%;
    left:25%;
    width:50%;
    height:67%;
    border-radius: 5px;
    overflow-y: scroll;
    scrollbar-color: white grey;
    scrollbar-width: thin;
    padding:20px 20px 20px 20px;
}

.modal-content table tr td p{
    font-family: 'Apple Chancery', cursive; 
    font-size:18px;
}

.modal_close{
    background-color: black;
    width:5%;
    left:48%;
    text-align: center;
    color:white;
    border-radius: 5px;
    margin-top:-17px;
    border:1px solid black;
    position: fixed;
}


.modal_close:hover{
    transition: 1s;
    cursor:pointer;
    background-color: white;
    color:black;
    border:1px solid black;
}

.html{
    width:60px;
    height:70px;
}

.css{
    width:40px;
    height:70px;
}

.nodejs{
    width:70px;
    height:70px;
}

.angular{
    width:110px;
    height:70px;
}

.typescript{
    width:100px;
    height:60px;
}

.nosql{
    width:200px;
    height:100px;
}

.js{
    width:60px;
    height:70px;
}

.php{
    width:100px;
    height:70px;
}

.mysql{
    width:100px;
    height:100px;
}

.vb{
    width:60px;
    height:70px;
}

.wl{
    width:110px;
    height:50px;
}

.hfsql{
    width:100px;
    height:50px;
}

.tech_util{
    font-family: "Times New Roman", serif;
    font-size: 24px;
    text-decoration: underline;
}

.techniques_informatiques{
    font-weight: bold;
    color:black;
    font-size: 22px;
}

/* Page CV */

.moncv{
    padding-top:25px;
}

/* Page contact */

.contenu_contact{
    background-color: #333;
    width:100%;
    padding-bottom: 190px;
    padding-top:100px;
}

.contact{
    width:75%;
    margin-left:12%;
    padding:15px;
    background-color:#2b2a2a;
    box-shadow: 5px 5px 5px black;
    margin-top: 10px;
    color:white;
    border-radius: 5px;
}

.contact hr{
   width:20%;
   margin:1px;
}

.contact a{
    color:grey;
    transform: scale(0);
    font-size: 18px;
}

.contact a::after{
    content: "";
    display: block;
    height: 0.1rem;
    background: var(--white);
    transform: scale(0);
    transition: transform var(--animation-timing);
    transform-origin: right;
}

.contact .email::after{
    width:210px;
}
.contact .linkedin::after{
    width:120px;
}
.contact .github::after{
    width:135px;
}

.contact a:hover::after {
    transform: scale(1);
    transform-origin: left;
  }

.contact a:hover{
    color:white;
    cursor:pointer;
    transition: 1s;
    transform: scale(1);
    
}

  :root {
    --white: hsl(0, 0%, 100%);
    --light: hsl(16, 99%, 99%);
    --dark: hsl(16, 99%, 1%);
   
    --font-family: "Montserrat", sans-serif;
    --font-weight-light: 300;
    --font-weight-semi-bold: 600;
   
    --animation-timing: 0.6s;
  }

.bas_de_page{
    background-color: #2e2b2b;
    margin-bottom:0px auto;
}

.technologies{
    display: flex;
    color:white;
    margin: 0 auto; 
    padding:10px;
    font-size: 16px;
}

.technologies img{
    width: 200px;
    height:160px;
}